* {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
}

html,
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald.ttf');
}

@font-face {
    font-family: 'Baloo';
    src: url('../font/Baloo.ttf');
}

@font-face {
    font-family: 'Cherry Bomb';
    src: url('../font/CherryBomb.ttf');
}

.app {
    background-color: #ffe3e1;
    width: 100vw;
    height: 100vh;
    position: relative;
}
